params {
    reads      = null
    sra_id     = null
    reference  = null
    outdir     = 'results'
}

process {
    cpus   = 4
    memory = '8 GB'
    withLabel: 'assemble' {
        memory = '7 GB'
        cpus   = 4
    }
}

conda {
    enabled  = true
    channels = ['conda-forge', 'bioconda', 'defaults']
}

profiles {
    test {
        params.sra_id = 'DRR030302'
        params.outdir = 'results_test'
    }
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_report.html"
}

timeline {
    enabled = true
    file    = "${params.outdir}/timeline.html"
}
