manifest {
    name        = 'hw3-ngs-pipeline'
    description = 'HW2 pipeline + variant calling (HW3)'
    version     = '1.0.0'
}

includeConfig 'conf/base.config'

profiles {
    local {
        includeConfig 'conf/local.config'
    }
    cluster {
        includeConfig 'conf/cluster.config'
    }
    container {
        includeConfig 'conf/container.config'
    }
    singularity {
        includeConfig 'conf/singularity.config'
    }
    conda {
        includeConfig 'conf/conda.config'
    }
    test {
        includeConfig 'conf/conda.config'
        params.reads     = "${projectDir}/data/reads/ggal_gut_{1,2}.fq"
        params.reference = "${projectDir}/data/ref/ecoli.fna"
        params.outdir    = 'results_test'
    }
}
