params {
    numberSRA          = null
    sra_id             = null
    input_reads_folder = null
    reads              = null

    reference          = null

    ref_type           = 'alignment'
    adapters           = null
    outdir             = 'results'
    assembly_fraction  = 0.05

    conda_env_path     = null

    container_registry = 'adv603'
    container_tag      = '1.0.0'
}

process {
    errorStrategy = 'terminate'
    maxRetries    = 1

    withLabel: 'download' { cpus = 2;  memory = '4 GB';  time = '4h' }
    withLabel: 'qc'       { cpus = 2;  memory = '4 GB';  time = '2h' }
    withLabel: 'trim'     { cpus = 4;  memory = '8 GB';  time = '4h' }
    withLabel: 'assemble' { cpus = 4;  memory = '7 GB';  time = '12h' }
    withLabel: 'map'      { cpus = 4;  memory = '8 GB';  time = '8h' }
    withLabel: 'plot'     { cpus = 1;  memory = '4 GB';  time = '1h' }
    withLabel: 'variant'  { cpus = 4;  memory = '8 GB';  time = '4h' }
}

report {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_report.html"
}

timeline {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/timeline.html"
}

trace {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/trace.txt"
}
