process.executor = 'slurm'

conda {
    enabled  = true
    channels = ['conda-forge', 'bioconda', 'defaults']
}

process {
    cpus   = 8
    memory = '16 GB'
    time   = '24h'
    queue  = 'normal'

    withLabel: 'download' { cpus = 4;  memory = '8 GB' }
    withLabel: 'qc'       { cpus = 4;  memory = '8 GB' }
    withLabel: 'trim'     { cpus = 8;  memory = '16 GB' }
    withLabel: 'assemble' { cpus = 16; memory = '64 GB'; time = '48h' }
    withLabel: 'map'      { cpus = 8;  memory = '32 GB' }
    withLabel: 'plot'     { cpus = 2;  memory = '8 GB' }
    withLabel: 'variant'  { cpus = 8;  memory = '16 GB' }

    conda = "${projectDir}/environment-cluster.yml"
}
