docker {
    enabled    = true
    runOptions = '-u $(id -u):$(id -g)'
}

executor {
    queueSize    = 1
    pollInterval = '30 sec'
}

process {
    maxForks = 1
    cpus   = 4
    memory = '8 GB'

    withLabel: 'download' { cpus = 2; memory = '4 GB' }
    withLabel: 'assemble' { cpus = 4; memory = '8 GB' }
    withLabel: 'map'      { cpus = 4; memory = '8 GB' }
    withLabel: 'variant'  { cpus = 4; memory = '8 GB' }

    withLabel: 'download' { container = "${params.container_registry}/hw3-sra-tools:${params.container_tag}" }
    withLabel: 'qc'       { container = "${params.container_registry}/hw3-fastqc:${params.container_tag}" }
    withLabel: 'trim'     { container = "${params.container_registry}/hw3-trimmomatic:${params.container_tag}" }
    withLabel: 'assemble' { container = "${params.container_registry}/hw3-megahit:${params.container_tag}" }
    withLabel: 'map'      { container = "${params.container_registry}/hw3-bwa-samtools:${params.container_tag}" }
    withLabel: 'plot'     { container = "${params.container_registry}/hw3-coverage:${params.container_tag}" }
    withLabel: 'variant'  { container = "${params.container_registry}/hw3-bcftools:${params.container_tag}" }
}
