singularity {
    enabled    = true
    autoMounts = true
}

process {
    cpus   = 4
    memory = '8 GB'

    withLabel: 'download' { cpus = 2; memory = '4 GB' }
    withLabel: 'assemble' { cpus = 4; memory = '8 GB' }
    withLabel: 'map'      { cpus = 4; memory = '8 GB' }
    withLabel: 'variant'  { cpus = 4; memory = '8 GB' }

    withLabel: 'download' { container = "docker://${params.container_registry}/hw3-sra-tools:${params.container_tag}" }
    withLabel: 'qc'       { container = "docker://${params.container_registry}/hw3-fastqc:${params.container_tag}" }
    withLabel: 'trim'     { container = "docker://${params.container_registry}/hw3-trimmomatic:${params.container_tag}" }
    withLabel: 'assemble' { container = "docker://${params.container_registry}/hw3-megahit:${params.container_tag}" }
    withLabel: 'map'      { container = "docker://${params.container_registry}/hw3-bwa-samtools:${params.container_tag}" }
    withLabel: 'plot'     { container = "docker://${params.container_registry}/hw3-coverage:${params.container_tag}" }
    withLabel: 'variant'  { container = "docker://${params.container_registry}/hw3-bcftools:${params.container_tag}" }
}
